certifi==2020.4.5.1
chardet==3.0.4
Django==1.11.7
django-contrib-comments==1.9.2
idna==2.9
importlib-metadata==1.6.0
Markdown==3.2.2
Pillow==9.0.1
Pygments==2.6.1
PyMySQL==0.9.3
pytz==2020.1
requests==2.23.0
six==1.15.0
urllib3==1.25.9
zipp==3.1.0
